/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/


/* Typography
--------------------------------------------- */
@font-face {
	font-family: 'oswald';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('../font/oswald/Oswald-Bold.ttf') format('ttf');
	font-weight: normal;
}


html {
	scroll-padding-top: 22rem;
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
	hrml{
		scroll-behavior: auto;
	}
}


/* CSS custom properties ............................... */


:root {     
    /* page specific colors */    
    --main-color:rgb(4, 10, 65);
    --main-color-transparent:rgba(75,104,131, 0.25);    
    --second-color:rgb(187, 189, 190);    
    --second-color-transparent:rgba(60, 60, 60, 0.25);
    
    /* universal palette */
    --dark-color:#3b3a3a;             /* near-but-not black */
    --light-color:rgb(255, 255, 255); /* not-quite white*/    
}


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family:"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" ;
}

h1{
    font-family: 'oswald' , Arial, Helvetica, sans-serif;
}

/* Header
--------------------------------------------- */

.header{
    display: grid;
    position: fixed;
    background-color: white;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    z-index: 3;
    width: 100%;
}



.site-header {
    display: grid;
    position: relative;
    grid-template-columns: .5fr 1fr 1fr 1.5fr .5fr;
    justify-items: baseline;
    border-bottom: .05rem solid gray;
    grid-row: 1/2;
    width: 100%;
}


.global-header{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    justify-items: baseline;
    grid-row: 2/2;
    width: 100%;
    align-items: left;
}

.global-nav {
    padding-bottom: .5rem ;
    width: 7rem;
}

#covid-link {
    font-weight: 700;
}

.global-link {
    padding: 1rem .5rem;
    font-size: .9rem;
    list-style: none;
    text-decoration: none;
    color: black;
}

 
#logo {
    width: 3rem;
    margin: 1rem ; 
    grid-column: 1/5;
}


.site-navigation {
	position:relative;
  display: flex;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.site-navigation.toggled ul {
	display: block;
}

.menuButton{
    background-color: transparent;
    border: none;
    border-left: .1rem solid black;
    padding-left:.5rem ;
    box-sizing: border-box;
    color: #e60505;
    overflow: hidden;
    margin-top: .8rem;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
    grid-column: 2/5;
    width: 5rem;
}

.headerSearchBar{
    display: none;
}

#searchButton{
    position: absolute;
    grid-column: 5/5;
    fill: #545454;
    border: 0;
    color: #545454;
    text-decoration: none;
    top: 1.1rem;
    justify-self: center;
}

.icon {
    position: relative;
    padding-right:0;
}

.chevronIcon{
    vertical-align: middle;
}

.searchText,
.profileText {
    position: relative;
    display: none;
}


.profileButtonNav {
    grid-column: 5/5;
    fill: #545454;
    stroke: #545454;
    background-color: transparent;
    border: none;
    color: #545454;
    cursor: pointer;
    text-decoration: none;
    top: .2rem;
    position: relative;
    margin-right: 3rem;
}

.menuButtonCloseTitle{
    display: none;
}


 
/* hamburger menu ..................*/

.navbar-nav-ml-auto {
    list-style-type: none;  
}
  
.site-navigation {
    position:relative;
}

.site-navigation ul {
    list-style: none;
    text-align: center;
    display: none;
    background-color: #4e4e4e;
    position: fixed;
    padding: 1rem;
    top: 3.5rem;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
}

.site-navigation.toggled ul {
    display: flex;
    flex-direction: column;
}

.site-navigation a {
    display: block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu-toggle {
    display: flex;
    justify-content: center;
    border: none;
    padding-top: .1rem;
    margin: 0;
}

.menu-toggle ul{
    background-color: #4e4d4d;
}

.nav-link{
	padding: .5rem;
    color: rgb(255, 255, 255);
    background-color: #4e4e4e;
    width: 3rem;
}


/* CSS CSS transforms ............................... */


.nav-link:hover {
    border: .1rem solid white;
    width: 3rem;
    color: white;
    transform: scale(1.1);
}


@media screen and (min-width: 68em) {

    .site-header {
        grid-template-columns: .5fr 1fr 5fr 1.5fr 1.5fr;

    }

    .header-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
    }


    .menuButton{
        font-size: 1.2rem;
        font-weight: 700; 
        margin: 1rem 0;
        width: 7rem;
    }

	.profileButtonNav {
        grid-column: 5/5;
        fill: #545454;
        stroke: #545454;
        background-color: transparent;
        border: none;
        color: #545454;
        cursor: pointer;
        text-decoration: none;

        top: .1rem;
    }

    #searchButton{
        position: absolute;
        grid-column: 4/5;
        fill: #545454;
        border: 0;
        color: #545454;
        text-decoration: none;
        top: 1.25rem;
        justify-self: center;
    }

    #logo {
        width: 6rem;
        margin: 1rem ; 
        grid-column: 1/5;
    }


    .global-nav {
        padding-bottom: .5rem ;
        padding-left: 1rem;
        width: 100%;
    }

    .site-navigation li {
        width: 7%;
    }

    .searchText,
    .profileText {
        font-size: 1.1rem;
        display: inline;
    }

    .global-link {
        font-size: 1.1rem;
    }

    .icon {
        position: relative;
        padding-right:.5rem;
    }
    
    .site-navigation.toggled ul {
        flex-direction: row;
        justify-content: center;
    }

}



/* Links
--------------------------------------------- */


a:hover {
    color:#ea0e0e;
    text-decoration: none;
}

a:visited,
a:focus {
    text-decoration: none;
}

.card-content:hover h3,
.card-content:focus h3 {
  text-decoration: none;
  color: #e60505;
}

/* Main
--------------------------------------------- */

.first-banner{
    display: none;
    display: flex;
    background-color: #cecece;
    justify-content: left;
    padding: 1rem 0;
    position: relative;
    top: 8rem;
}

/* CSS animations ............................... */

.first-banner img {
    max-width: 53.5rem;
    animation-name: banner;
    animation-duration: 2s;
    animation-iteration-count:1 ;
    position: relative;
}

@keyframes banner {
    0%   {background-color:rgb(206, 205, 205); left:2000px; top:0px;}
    55%  {background-color:rgb(206, 205, 205); left:0px; top:0px;}
}



@media (max-width: 37rem) and (min-width: 24rem) {
    .first-banner img {
      display: none;
    }
    .first-banner{
    justify-content: center; 
   }

   #second-banner-photo {
    display: inline;
    }
  }

  @media (max-width: 74rem) and (min-width: 37.1rem) {
    .first-banner img {
        width: 38rem;
      }
      .first-banner{
      justify-content: center; 
      }
     #second-banner-photo {
        display: none;
      }
    }

    @media (max-width: 360px) and (min-width: 320px) {
        .first-banner img {
            max-width: 48rem;
        }

        #second-banner-photo {
            display: none;
            }
    }

/* Section
--------------------------------------------- */

.contentWrapper::marker {
    content: none;
}


.second-banner {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    position: relative;
    top: 8rem;
    color: var(--light-color);
    background-color: var(--dark-color);
    width: 100%;
    justify-content: center; /* Updated value */
    align-items: center; /* Added property */
}


.second-banner h2 {
    padding: 1rem 0 1rem 2rem;
    width: 100%; 
    text-align: left; 
}

/* Descendant selectore ............................... */


div  h3 {
    color: white;
    font-size: .9rem;
    text-align: justify;
    align-items: center;
    line-height: 1.5rem;
    font-weight: 200;
    box-sizing: content-box;
    max-width: 15rem;
    margin: 0 3rem ; 
}

/* Child selectore ............................... */


section > a {
    padding: 0 2rem;
    text-decoration: none;
    list-style: none;
    color: var(--second-color);
    width: 100%; /* Added property */
    text-align: left; 
}


.image-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:  1rem;
    padding: 1rem;
}


.contentWrapper {
    display: block;
    border: .1rem solid var(--second-color);
    margin: 1rem .5rem;
    padding: 1rem;
}


.image-info img {
    width: 100%;
    max-width: 18rem;
 }

.card-href{
    text-decoration: none;
}

.placeholder {
    display: flex;
    align-items: center;
}


@media screen and (min-width: 68em) {


    .first-banner{
        justify-content: center;

    }

    .first-banner img{
        max-width: 60%;
        padding: 1rem;
    }

    .second-banner {
        top: 8rem;
    }

    h3.headline{
        margin-left: 4rem;
    }

    .card-content h3 {
        font-size: 1rem;
    }

    #second-banner-photo {
        display: none;
    }

}



/* footer css */
.footer {
    background-color: #ceced1;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    padding-top: 2rem;
  }

.footer-apps{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.team {
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
}

.local-stations ul {
    list-style: none;
}

.local-stations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* css for grid */
.stories-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1rem;
    margin: 1rem 0;
    justify-content: center;
  }
  
.stories-grid img {
    height: 75px;
    width: 75px;
    float: right;
    padding: 10px;
}

.story {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 10px;
    border-style: groove;
    padding: 5px;
    height: 160px;
    width: 300px;
}

.story:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
  
.stories-grid a[target="_blank"] {
    color: black;
    text-decoration: underline;
}

.stories-grid a:nth-child(10),
.stories-grid a:nth-child(12),
.stories-grid a:nth-child(14) {
font-style: italic;
color: #545454;
}

@media screen and (min-width: 615px) {
    /* css for min-width 615px */
    .footer {
        background-color: #ceced1;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        padding-top: 2rem;
      }
    
    .footer-apps{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .team {
        display: flex;
        justify-content: space-between;
        /* padding: 2rem; */
    }
    
    .local-stations ul {
        list-style: none;
    }
    
    .local-stations {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .stories-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem 0;
        justify-items: center;
    }
      
    .stories-grid img {
        height: 75px;
        width: 75px;
        float: right;
        padding: 10px;
    }
    
    .story {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: 10px;
        border-style: groove;
        padding: 5px;
        height: 160px;
        padding-left: 15px;
    }
    
    .story:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
      
    .stories-grid a[target="_blank"] {
        color: black;
        text-decoration: underline;
    }
    /* added pseudo selector nth child */
    .stories-grid a:nth-child(10),
    .stories-grid a:nth-child(12),
    .stories-grid a:nth-child(14) {
    font-style: italic;
    color: #545454;
    }

}

@media screen and (min-width: 68em) {
        /* css for min width 68em */
    .introTitle {
        margin-top: 6rem;
    }
    .main-header {
        justify-content: left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        height: 45rem;
        background-position:center;
        top: 0px;
        left: 0px; 
        width: 100%; 
        height: 100%; 
        z-index: -10;
    }

    .intro {
        margin: 0 18rem ;
    }

    .mainTitle{
        margin-left: 5rem;
    }

    .tehranIntroduction {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .quote {
        margin: 0 18rem 10rem 18rem;
    }
    .footer {
        background-color: #ceced1;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        padding-top: 2rem;
      }
    
    .footer-apps{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .team {
        display: flex;
        justify-content: space-between;
        /* padding: 2rem; */
    }
    
    .local-stations ul {
        list-style: none;
    }
    
    .local-stations {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .stories-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 1rem 0;
    }
      
    .stories-grid img {
        height: 75px;
        width: 75px;
        float: right;
        padding: 10px;
    }
    
    .story {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: 10px;
        border-style: groove;
        padding: 5px;
        height: 220px;
        padding-left: 15px;
    }
    
    .story:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
      
    .stories-grid a[target="_blank"] {
        color: black;
        text-decoration: underline;
    }
    
    .stories-grid a:nth-child(10),
    .stories-grid a:nth-child(12),
    .stories-grid a:nth-child(14) {
    font-style: italic;
    color: #545454;
    } 
}
/* Section
--------------------------------------------- */

#info-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
}

.singleImg {
    grid-column: 2/3;
    text-align: center;
    
}

@media screen and (min-width: 68em) {
    #info-wrapper{
        grid-template-columns: 1fr repeat(3, 2fr) 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        margin-top: 5rem;
    }

    #geograhy {
        grid-column: 2/5;
        
    }

    #food {
        grid-column: 3/4;
    }

    #history{
        grid-column: 4/5;
    }

    .singleImg {
        
        overflow: hidden;
    }

    .singleImg img {
    transition: transform 0.3s ease;
    }

    .singleImg img:hover {
    transform: scale(0.9);
    }
    
}

.info-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-text a {
    font-size: 1.2rem;
}

.info-text p{
    color: white;
    margin: 1rem ;
}

.text-info {
    margin-top: 1rem;
}


