div {
    width: 320px;
    padding: 10px;
}

img {
    width: 350px; 
    height: 200px
}

.heading-one, .placeholder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}