* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    line-height: 1.4;
    padding: 20px 40px;
  }

img {
    display: grid;
    justify-content: center;
    max-width: 700px;
}


.site-wrapper {
max-width: 1200px;
}

.top-story {
  /* border: 15px ;
  padding: 50px;
  margin: 20px; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  justify-content: space-around;
  justify-items: center;
}

.list {
    display: grid;
    /* grid-template-columns: 1fr 3fr;
    gap: 10px;  
    margin-bottom: 10px; */
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.card-content-bottom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.bottom-list h3 {
    font-size: 15px;
    margin: 10px;
}

.bottom-one {
    display: grid;
    grid-template-columns: 1fr;
}